{% extends "layout/base.html" %}

{% block title %}LetMeKnow{% endblock title %}

{% block content %}
<h2>So What is LetMeKnow (LMK)?</h2>
<p>Simply it's a CLI tool written in Rust that will call this server (or any other self-hosted server) to notify if the
    program is called. This server <b>does not store</b> any of your notification sent. Only forwarding it to the user
    opening the page for a particular indentifier.</p>

<h2>Got A Identifier Already?</h2>
<p>Input the identifier and listen to the notification down below!</p>

<div class="row">
    <div class="col-4">
        <form>
            <input type="text" placeholder="Identifier you use" name="identifier" min="15">
        </form>
    </div>

</div>


{% endblock content %}